import React from 'react'
import { I{{pascalCase name}}PropTypes } from './{{kebabCase name}}-prop-types'

const {{pascalCase name}}: React.FC<I{{pascalCase name}}PropTypes> = ({}) => {
  return <div>{{pascalCase name}}</div>
}

export default {{pascalCase name}}
