import React from 'react';
import styles from './{{pascalCase name}}.module.scss';
import { I{{pascalCase name}}PropTypes } from './{{pascalCase name}}PropTypes';

const {{pascalCase name}}: React.FC<I{{pascalCase name}}PropTypes> = ({}) => {
  return <div className={ styles.{{pascalCase name}} }>{{pascalCase name}}</div>;
};

export default {{pascalCase name}};
